{% extends 'ArnmAraneumBundle::araneum.html.twig' %}

{% block title %}
	{{ parent() }} | Contact Request Types Admin
{% endblock %}

{% block sidebar %}
	<div class="alert alert-info hint">
		<span class="label label-info">{{ 'default.label.info'|trans }}</span><br/>
  		{{ 'contact.request_type.list.info'|trans({}, 'contact')|raw }}
	</div>
{% endblock %}
 
{% block content %}
	<div class="page-header">
		<h2>{{ 'contact.request_type.list.title'|trans({}, 'contact') }}</h2>
	</div>
	
	{% include 'ArnmAraneumBundle:Misc:messages.html.twig' %}
	
	<table class="table table-hover">
	    <thead>
	        <tr>
	            <th>#</th>
	            <th>{{ 'contact.request_type.list.table.head.type'|trans({}, 'contact') }}</th>
	            <th>{{ 'contact.request_type.list.table.head.active'|trans({}, 'contact') }}</th>
	            <th>{{ 'default.label.actions'|trans }}</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for entity in entities %}
	        <tr>
	            <td>{{ entity.id }}</td>
	            <td>{{ entity.type }}</td>
	            <td>
	            	{% if entity.active %}
	            		<span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
	            	{% endif %}
            	</td>
	            <td>
	            	<a href="{{ path('arnm_contact_request_type_edit', { 'id': entity.id }) }}" class="btn btn-default">{{ 'default.label.edit'|trans }}</a>
	            	<a href="{{ path('arnm_contact_request_type_delete', { 'id': entity.id }) }}" class="btn btn-danger delete-confirm" data-confirm-message="{{ 'contact.request_type.delete.confirm_message'|trans({}, 'contact') }}">{{ 'default.label.delete'|trans }}</a>
	            </td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
	
	<div class="well">
	    <a href="{{ path('arnm_contact_request_type_new') }}" class="btn btn-primary">
	        {{ 'contact.request_type.list.action.create_new'|trans({}, 'contact') }}
	    </a>
    </div>
{% endblock %}
